body {
    background-color: rgb(211, 211, 211);
    font-family: 'Noto Sans', sans-serif;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex !important;
}

.content {
    margin-top: 50px !important;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 25px 25px;
}